/* RUBIK */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* ROBOTO MONO */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* TESTING */

/*div {
    border: 1px solid white;
}

/*img.stars {
    position: absolute;
    animation: scrolling 150s linear infinite;
    z-index: 0;
}

@keyframes scrolling {
    100% {
        transform: translateX(-1512px);
    }
}*/

/* GENERAL */

body {
    background-color: #1a1073;
    background-image: linear-gradient(black, #010826, #1a1073);
    background-attachment: fixed;
    overflow: hidden; /* prevent the white space from overscrolling */
    margin: 0;
}

img.stars {
    position: fixed;
    width: 100%;
    margin-top: /*100px*/6.614vw;
    opacity: 0.5;
}

a.button {
    text-decoration: none;
}

h1.button {
    font-family: 'Rubik';
    font-size: /*25px*/1.653vw;
    font-weight: 300;
    color: white;
    border-radius: /*30px*/1.984vw;
    margin-top: /*25px*/1.653vw;;
    margin-left: /*50px*/3.307vw;
    padding-top: /*10px*/0.661vw;
    padding-bottom: /*10px*/0.661vw;
    padding-left: /*15px*/0.992vw;
    padding-right: /*15px*/0.992vw;
    transition: 0.2s;
}

h1.button-bio {
    background-color: royalblue;
    margin-left: /*30px*/1.984vw;
}

h1.button-bio-linkedin {
    margin-left: /*60px*/3.968vw;
}

h1.button-benjy {
    background-color: #c193fd;
}

h1.button-gimmecards {
    background-color: #408CFF;
}

h1.button:hover {
    font-family: 'Rubik';
    font-size: /*25px*/1.653vw;
    font-weight: 300;
    color: black;
    background-color: white;
    border-radius: /*30px*/1.984vw;
    margin-left: /*50px*/3.307vw;
    padding-top: /*10px*/0.661vw;
    padding-bottom: /*10px*/0.661vw;
    padding-left: /*15px*/0.992vw;
    padding-right: /*15px*/0.992vw;
    transition: 0.2s;
}

h1.button-bio:hover {
    margin-left: /*30px*/1.984vw;
}

h1.button-bio-linkedin:hover {
    margin-left: /*60px*/3.968vw;
}

/* MENU */

div.menu {
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: black;
    padding-top: /*30px*/1.984vw;
    padding-bottom: /*30px*/1.984vw;
}

h1.menu {
    display: inline;
    font-family: 'Rubik';
    font-size: /*32px*/2.116vw;
    font-weight: 400;
    color: gray;
    margin-left: /*50px*/3.307vw;
    margin-right: /*50px*/3.307vw;
    transition: 0.2s;
}

h1.menu:hover {
    color: white;
    transition: 0.2s;
}

h1.menu-clicked {
    color: white;
}

/* ABOUT ME */

div.mylife {
    position: fixed;
    margin-top: /*100px*/6.614vw;
}

img.mylife {
    width: /*500px*/33.069vw;
    margin-top: /*20px*/1.323vw;
    margin-left: /*100px*/6.614vw;
}

p.reference {
    position: fixed;
    font-family: 'Rubik';
    font-size: /*15px*/0.992vw;
    font-weight: 300;
    color: white;
    background-color: black;
    border-radius: /*5px*/0.331vw;
    margin-top: /*320px*/21.164vw;
    padding-top: /*2px*/0.132vw;
    padding-bottom: /*2px*/0.132vw;
    padding-left: /*5px*/0.331vw;
    padding-right: /*5px*/0.331vw;
    transition: 0.2s;
}

p.kyle {
    margin-left: /*350px*/23.148vw;
}

p.lin {
    margin-left: /*460px*/30.423vw;
}

p.reference:hover {
    color: black;
    background-color: white;
    transition: 0.2s;
}

h1.welcome {
    font-family: 'Roboto Mono';
    font-size: /*30px*/1.984vw;
    font-weight: 400;
    color: white;
    margin-top: /*120px*/7.937vw;
    margin-left: /*60px*/3.968vw;
}

div.bio {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    margin-left: /*600px*/39.683vw;
}

p.bio {
    font-family: 'Rubik';
    font-size: /*20px*/1.323vw;
    font-weight: 300;
    color: white;
    line-height: 180%;
    margin-top: /*20px*/1.323vw;
    margin-left: /*60px*/3.968vw;
    margin-right: /*150px*/9.921vw;
}

/* PROJECTS - SIDEBAR */

div.sidebar {
    position: fixed;
    overflow-y: scroll;
    width: 20%;
    height: 100%;
}

div.first-thumbnail {
    margin-top: /*120px*/7.937vw;
}

p.thumbnail {
    text-align: center;
    font-family: 'Rubik';
    font-size: /*16px*/1.058vw;
    font-weight: 300;
    color: white;
    margin-bottom: /*15px*/0.992vw;
}

img.thumbnail {
    display: block;
    width: /*150px*/9.921vw;
    border: /*2px*/0.132vw solid gray;
    border-radius: /*3px*/0.198vw;
    margin-bottom: /*40px*/2.646vw;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
}

img.thumbnail:hover {
    width: /*160px*/10.582vw;
    border: /*3px*/0.198vw solid white;
    transition: 0.2s;
}

img.thumbnail-clicked {
    width: /*160px*/10.582vw;
    border: /*3px*/0.198vw solid white;
}

/* PROJECTS - CONTENT */

div.content {
    display: none;
    position: fixed;
    overflow-y: scroll;
    width: 80%;
    height: 100%;
    margin-left: /*300px*/19.841vw;
}

div.content-clicked {
    display: block;
}

div.container {
    display: flex;
}

embed.trailer {
    width: /*960px*/63.492vw;
    height: /*540px*/35.714vw;
    margin-left: /*50px*/3.307vw;
    /*margin-top: 20px1.323vw*/;
    margin-top: /*120px*/7.937vw;
}

h1.title {
    font-family: 'Roboto Mono';
    font-size: /*35px*/2.315vw;
    font-weight: 400;
    color: white;
    margin-left: /*50px*/3.307vw;
}

h1.date {
    font-family: 'Rubik';
    font-size: /*25px*/1.653vw;
    font-weight: 300;
    color: white;
    margin-left: /*50px*/3.307vw;
    margin-top: /*35px*/2.315vw;
}

p.description {
    font-family: 'Rubik';
    font-size: /*20px*/1.323vw;
    font-weight: 300;
    color: white;
    line-height: 180%;
    margin-left: /*50px*/3.307vw;
    margin-right: /*200px*/13.228vw;
    margin-bottom: /*30px*/1.984vw;
}

a.hyperlink {
    color: deepskyblue;
    transition: 0.2s;
}

a.hyperlink:hover {
    color: cyan;
    transition: 0.2s;
}

img.screenshot {
    display: block;
    width: /*530px*/35.053vw;
    margin-left: /*50px*/3.307vw;
    margin-top: /*20px*/1.323vw;
    transition: 0.2s;
}

img.screenshot-gimmecards {
    display: block;
    width: /*530px*/35.053vw;
    margin-left: /*50px*/3.307vw;
    margin-top: /*20px*/1.323vw;
}

img.screenshot:hover {
    transform: scale(1.05);
}

div.caption {
    width: /*530px*/35.053vw; /*same as image*/
    margin-left: /*50px*/3.307vw;
}

h1.caption {
    text-align: left;
    font-family: 'Rubik';
    font-size: /*15px*/0.992vw;
    font-weight: 300;
    color: white;
}

/* PROJECTS - IMAGE ZOOM OVERLAY */

div.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}

img.zoomed-image {
    display: none;
    position: fixed;
    width: 70%;
    margin-left: 15%;
    margin-top: /*120px*/7.937vw;
}

img.x-button {
    display: none;
    position: fixed;
    width: /*50px*/3.307vw;
    margin-left: /*1300px*/85.979vw;
    margin-top: /*120px*/7.937vw;
    opacity: 0.5;
}